## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json

## Visual Studio
.vs/
*.rsuser
*.sln.docstates

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
